.follower-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .followers {
        border: 2px dotted darkblue;
        margin: 5px;
        padding: 5px;
        background-color: lightskyblue;
    }
}